<form  #tempForm="ngForm" (ngSubmit)="onSubmit()">
      <input [(ngModel)] = "temperature"
                       name = "temperature"
                       required 
                       #temp = "ngModel">
      <p *ngIf="!(temp.valid || temp.pristine)">
        Temperature is required
      </p>                        
      <button [disabled]="!tempForm.form.valid">Primary</button>
</form>



